@charset "UTF-8";
@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype"); }

html,
body {
  font-size: 16px; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  font-family: "Helvetica", sans-serif;
  line-height: 1.65;
  overflow-x: hidden;
  background: #fff; }
  body input, body textarea {
    border: #666 1px solid;
    outline: none; }
    body input:focus:required:invalid, body textarea:focus:required:invalid {
      border-color: red; }
    body input:required:valid, body textarea:required:valid {
      border-color: green; }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #fff;
  color: #000; }

::selection {
  background-color: #fff;
  color: #000; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none;
    outline: none; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

b, strong {
  font-weight: bold; }

button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

button:focus {
  outline: none; }

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.row {
  padding: 0;
  margin: 0; }

.container-fluid {
  padding: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1090px;
  padding: .1px 50px; }
  @media only screen and (max-width: 1200px) {
    .wrapper {
      padding: .1px 20px; } }

.main-header {
  background-color: #2f3769;
  height: 52px; }
  .main-header-search-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 52px; }
    .main-header-search-form form {
      display: block;
      margin: auto; }
    .main-header-search-form input {
      width: 385px;
      height: 35px;
      background-color: #fff;
      font-size: 13px;
      padding-left: 16px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      line-height: 35px;
      padding-top: 5px; }
    .main-header-search-form button {
      background-color: transparent;
      border: 0;
      width: 35px;
      height: 35px;
      position: absolute;
      cursor: pointer;
      margin-left: -40px; }
      .main-header-search-form button::before {
        content: "";
        font-family: FontAwesome;
        color: #4c4c4c; }
  .main-header nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .main-header nav ul > li {
      text-align: center;
      line-height: 52px; }
      .main-header nav ul > li > ul {
        display: none; }
      .main-header nav ul > li a {
        color: #fff;
        display: block;
        padding: 0 14px;
        white-space: nowrap; }
        .main-header nav ul > li a:hover {
          background-color: #1f2546; }
    .main-header nav ul .personal {
      position: relative;
      cursor: pointer;
      padding-right: 32px;
      padding-left: 10px; }
      .main-header nav ul .personal::before {
        content: "";
        font-family: FontAwesome;
        color: #fff;
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto; }
      .main-header nav ul .personal:hover {
        background-color: #1f2546;
        display: block; }
      .main-header nav ul .personal.active {
        background-color: #1f2546; }
      .main-header nav ul .personal ul {
        right: 0;
        background-color: #2f3769;
        position: absolute; }
      .main-header nav ul .personal img {
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
  .main-header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    .main-header .wrapper > div {
      max-width: 50%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      position: relative; }

#mobile-menu {
  background-color: #2f3769;
  position: absolute;
  display: none;
  top: 52px;
  right: 0;
  left: 0; }
  #mobile-menu a {
    color: #fff; }
