@media only screen and (min-width: 1200px) {
  .hamburger {
    display: none; } }

@media only screen and (min-width: 576px) {
  .main-header-search-form-icon {
    display: none; } }

@media only screen and (max-width: 1200px) {
  .main-header-search-form form {
    margin: 0;
    margin-top: 8px; }
  .main-header-nav {
    text-align: right; }
  .main-header nav {
    display: none; }
  .main-header .hamburger-inner, .main-header .hamburger-inner:after, .main-header .hamburger-inner:before {
    background-color: #fff;
    -webkit-border-radius: 0;
            border-radius: 0;
    height: 2px; }
  #mobile-menu a {
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #1f2546; } }

@media only screen and (max-width: 576px) {
  .main-header-search-form {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 80% !important;
        -ms-flex: 0 0 80% !important;
            flex: 0 0 80% !important;
    max-width: 80% !important; }
    .main-header-search-form form {
      max-width: 100%; }
      .main-header-search-form form input {
        max-width: 100%; }
      .main-header-search-form form button {
        background-color: #fff;
        height: 33px;
        margin-top: 1px;
        margin-left: -36px;
        -webkit-border-radius: 50px;
                border-radius: 50px; }
  .main-header-nav {
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 20% !important;
        -ms-flex: 0 0 20% !important;
            flex: 0 0 20% !important;
    max-width: 20% !important; } }
